label {
    display: block;
    margin-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 40%;
    font-size: 15px;
}

input {
    display: block;
    margin-bottom: 18px;
    box-sizing: border-box;
    padding-bottom: 10px;
    border: 1px solid black;
}

.details {
    padding-top: 40px;
    padding-left: 40px;
    overflow: hidden;
}

.col {
    float: left;
    width: 30%;
}

.btn {
    padding-left: 15%;
}

button {
    border: 1px solid black;
    color: black;
    padding: 10px 70px;
    margin: 20px 50px;
    text-decoration: none;
    cursor: pointer;
}

table {
    font-size: 30px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

td {
    font-size: 20px;
    text-align: center;
}